!!! 5
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %link(href="http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700,700italic,500italic,500,400italic,300italic,100italic,100,300"
            rel='stylesheet'
            type='text/css')/
        @section('head')
            %link(href="#{url('/css/reset.css')}"
                rel="stylesheet"
                type='text/css')/
            %link(href="#{url('/css/foundation.min.css')}"
                rel="stylesheet"
                type='text/css')/
            %link(href="#{url('/css/style.css')}"
                rel="stylesheet"
                type='text/css')/
        @show
	%body
		%div#wrap
            %div#header

            %div#main_container
                %ul.navigation
                    %li Nothing
                    %li Tuotteet

                %h2 Tuotteet
                %ul.products
                    - foreach (array("Just Some", "And More") as $text)
                        %li
                            %span= $text
            %div#footer
